body {
}
.post-list, .post-editor {
}
.editor-control {
    margin-top: 10px;
}
.center {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.post {
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    border:1px solid lightgray;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition-duration: 0.5s;
    padding: 6px;
    margin: 5px;
}
.post:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition-duration: 0.5s;
}
.post p {
    line-height: 0.3em;
}
.info {
    font-size: x-small;
}
.page-num{
    margin-top: 15px;
    text-align: center;
}