body {
    background-image: url("../img/bigBg.jpg");
    background-position: left 40px;
    background-attachment: fixed;
    background-repeat: repeat;
}

/* stick footer */
* {
  margin: 0;
}
html, body {
  height: 100%;
}
#header-nav {
  margin-bottom: 15px;
}
.wrapper {
  min-height: 100%;
  margin: 0 auto -59px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
  height: 59px; /* '.push' must be the same height as 'footer' */
}

.nav-img {
  height:36px;
}
.sys-notification {
  background-color: white;
}
@media screen and (max-width: 768px) {
  .sys-notification li{
    font-size: small;
  }
}
#twitter {
  margin-bottom: 0px;
}
.post-form {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  background-color: white;
}
#category-select {
  width: 30px;
}
.form-area {
  margin-bottom: 10px;
}
#category-nav {
  margin-top: 10px;
}
#category-nav a {
  padding: 5px;
}
.post-list {
  margin-top: 10px;
}
.post-editor {
  margin-top: 10px;
}
.editor-control {
  margin-top: 10px;
}
#submit-btn {
  margin-left: 5px;
}
.post {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid lightgray;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition-duration: 0.5s;
  padding: 6px;
  margin: 5px;
}
.post:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
}
.post p {
  line-height: 0.3em;
}
.info {
  font-size: x-small;
}
.page-num{
  margin-top: 15px;
  text-align: center;
}
.footer {
  line-height: 0.8em;
  margin-bottom: 0px;
}
#slogen {
  padding-top: 5px;
  color: black;
}
.Icon--tweet{
  left: -2px;
  top: -5px
}
@font-face{
  font-family: 'rosettaicons';
  src: url('../fonts/rosetta-icons-Regular.eot');
  src: url('../fonts/rosetta-icons-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/rosetta-icons-Regular.woff') format('woff'),url('../fonts/rosetta-icons-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
.Icon{
  background: transparent;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
}
.Icon:before{
  display: block;
  font-family: "rosettaicons";
  font-weight: normal;
  font-style: normal;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
.Icon--tweet:before{
  content: "\f029";
}
.Icon{
  font-size: 19px;
  height: 19px;
  position: relative;
  vertical-align: middle;
  width: 17px；
}

.post a {
  color: black;
  text-decoration: none;
}
.post a:hover,
.post a:focus {
  color: black;
  text-decoration: none;
}
.post a:focus {
  outline: none;
}

.post-to-comment {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
}
.post-to-comment p {
  line-height: 0.3em;
}
.post-to-comment blockquote p{
  line-height: 1em;
}
/* Back to Top */
.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.back-to-top a {
  width: 35px;
  height: 35px;
  text-indent: -20000px;
  display: block;
  background-image: url("../img/up-arrow.png");
}
.transparent {
    background-color: transparent;
    border: 2px dashed rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: none;
}  
.inner {
    padding: 10px;
    line-height: 150%;
    text-align: left;
}
#category-nav a:hover {
  cursor: pointer;
}