<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>小助手微信墙</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="{{ static_url('img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ static_url("css/vendor/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ static_url("css/flat-ui.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}">
</head>

<body>
<header>
<!--顶部导航栏-->
<nav class="navbar navbar-default" id="header-nav" role="navigation">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="#"><img class="nav-img" alt="Brand" src="{{ static_url("img/icons/svg/chat.svg") }}">微信墙</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">最新消息<span class="navbar-new">1</span></a></li>
      <li><a href="#">关于我们</a></li>
    </ul>
    <!--
    <form class="navbar-form navbar-right" action="#" role="search">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
          <span class="input-group-btn">
            <button type="submit" class="btn"><span class="fui-search"></span></button>
          </span>
        </div>
      </div>
    </form>
    -->
  </div>
</div>
</nav>
<!--顶部导航结束-->
</header>
<div class="wrapper">
  <main class="main" role="main">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 sys-notification">
          <ul class="list-unstyled" id="twitter">
            <li>通知:微信墙还在测试中,发现问题请联系管理员</li>
            <li>通知:微信墙还在测试中,发现问题请联系管理员</li>
            <li>通知:微信墙还在测试中,发现问题请联系管理员</li>
          </ul>
        </div>
      </div>

      <div class="post-editor">

        <div class="row">
          <div class="col-md-8 col-md-offset-2 post-form">
            <form action="#" id="myform" class="form">
              <div class="form-group form-area">
                <lable for="content">发表内容</lable>
                <textarea class="form-control" id="content" name="content" placeholder="在这里输入你想说的话" rows="2"></textarea>
                <div class="form-inline">
                  <div class="row editor-control">
                    <!--<div class="pull-right">-->
                      <div class="col-md-4 col-sm-5 col-xs-4">
                        <div class="form-group">
                          <select data-toggle="select" id="category" name="category" class="select select-danger mrs mbm" id="category-select">
                            <option value="1">表白</option>
                            <option value="2">吐槽</option>
                            <option value="3">心愿</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-3 col-xs-5">
                        <div class="form-group">
                            <input type="text" id="nickname" name="nickname" class="form-control" placeholder="昵称">
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-2 col-xs-3">
                        <div class="form-group">
                          <a id="submit_btn" class="btn btn-info"><i class="Icon Icon--tweet"></i>发布</a>
                        </div>
                      </div>
                    <!--</div>--><!-- /.pull-right -->
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div><!-- /.row -->

      </div>

    <div id="category-nav">
      <div class="row">
        <div class="col-md-offset-2">
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#">全部</a></li>
            <li role="presentation"><a href="#">表白</a></li>
            <li role="presentation"><a href="#">吐槽</a></li>
            <li role="presentation"><a href="#">心愿</a></li>
          </ul>
        </div>
      </div>
    </div>

    <section class="post-list">
    <!--new post will fill up here-->
    </section>


    </div>

    <div class="push"></div>
  </main>
</div>

<div class="back-to-top"><a href="#">回到顶端</a></div>
<footer class="footer">
  <div class="container">
    <div class="row footer-bottom">
    <ul class="list-unstyled text-center">
    <li id="slogen">♥ Do have faith in what you're doing.</li>
    </ul>
      <ul class="list-inline text-center">
        <li>Producted by <a href="http://csxyxzs.sinaapp.com/page/about.htm" target="_blank">城市学院小助手</a></li>
      </ul>
    </div>
  </div>
</footer>


<script src="{{ static_url("js/vendor/jquery.min.js") }}"></script>
<script src="{{ static_url("js/jquery.cookie.js") }}"></script>
<script src="{{ static_url("js/flat-ui.min.js") }}"></script>
<script src="{{ static_url("js/hammer.min.js") }}"></script>
<script src="{{ static_url("js/utils.js") }}"></script>
<script src="{{ static_url("js/wall.js") }}"></script>

</body>

</html>
